

  <div class="d-flex flex-column" id="nav-container">

      <div class="top-nav-container">
        <button mat-raised-button id="nav-btn"
        [routerLink]="['orders']" routerLinkActive="router-link-active">
          Orders
        </button>

        <button mat-raised-button id="nav-btn"
        [routerLink]="['chart']" routerLinkActive="router-link-active">
          Logistics
        </button>

        <button mat-raised-button id="nav-btn">
          Materials
        </button>

        <button mat-raised-button id="nav-btn">
          ??
        </button>
      </div>


      <div class="user-logout">
        <button mat-raised-button id="nav-btn"
        (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>

