#nav-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 200px;
  flex-direction: column;
  background-color: #b47f6f;
}

#nav-btn {
  display: block;
  width: 85%;
  margin: auto;
  margin-top: 1rem;
}

.top-nav-container {
  margin-bottom: 5rm;
}

.user-logout {
  display: block;

  margin-bottom: 1rem;
  margin-top: auto;
}
