

  <div class="d-flex flex-column" id="nav-container">

      <div class="top-nav-container">
        <button mat-raised-button id="order-nav" class="nav-btn"
        [routerLink]="['orders']" routerLinkActive="router-link-active">
          Orders
        </button>

        <button mat-raised-button class="nav-btn"
        [routerLink]="['chart']" routerLinkActive="router-link-active">
          Logistics
        </button>


      </div>


      <div class="user-logout">
        <button mat-raised-button class="nav-btn"
        (click)="logout()">
          Logout
        </button>
      </div>

    </div>

