<div class=" container container-fluid">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <span (click)="close()" class="close">&times;</span>
    <h1 class="text-center">Login</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password">

    </div>
    @if (isLoading) {
   <div style="text-align: center;">
        <!-- <app-loading-spinner></app-loading-spinner> -->
   </div>
    }

  @if (isError) {
    <p class="error">Username and/or Password Incorrect!</p>
  }

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
</div>


