.main {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 1;
}

.controls {
  position: sticky;
  background-color:#fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  margin: auto;

}

.table-control {
  margin-top: 1rem;
}

.table-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

table {
  height: 100%;
   margin-top: 1em;
   background-color: #feefdd;
  align-items: center;
}
