.main {
  margin: 0;
  align-items: center;
  justify-content: space-around;
}

.controls {
  position: sticky;
  background-color:#fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  margin: auto;
  z-index: 1000;
}

.table-control {
  margin-top: 1rem;
  margin-bottom: 5px;
}

.table-container {
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

table {
  height: 100%;
  margin-top: 1em;
  background-color: #feefdd;
  align-items: center;
  overflow: hidden;
}

