mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: scroll;
}


mat-form-field {
  height: 100px;
  width: 250px;
  padding: 6px;
  margin: 4px;
}

/* #add-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;
} */

#material-select {
  display: flex;
  align-items: center;
  justify-content: center;
}
