<h2 mat-dialog-title>{{ modeText }} an Order</h2>
<form id="add-edit" [formGroup]="orderForm" (ngSubmit)="submit()">

  <mat-dialog-content>
    <mat-form-field>
      <label for="car_id">Car ID</label>
      <input matInput type="text" name="car_id" id="car_id" formControlName="car_id">
    </mat-form-field>

    <mat-form-field>
      <label for="requested_date">Requested Date</label>
      <input matInput [matDatepicker]="requested_date" formControlName="requested_date">
      <mat-datepicker-toggle matIconSuffix [for]="requested_date"></mat-datepicker-toggle>
      <mat-datepicker #requested_date></mat-datepicker>
    </mat-form-field>

    @if (this.data) {
      <mat-form-field>
        <label for="received_date">Received Date</label>
        <input matInput [matDatepicker]="received_date" formControlName="received_date">
        <mat-datepicker-toggle matIconSuffix [for]="received_date"></mat-datepicker-toggle>
        <mat-datepicker #received_date></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <label for="extraction_start">Extraction Start Date</label>
        <input matInput [matDatepicker]="extraction_start" formControlName="extraction_start">
        <mat-datepicker-toggle matIconSuffix [for]="extraction_start"></mat-datepicker-toggle>
        <mat-datepicker #extraction_start></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <label for="extraction_end">Extraction End Date</label>
        <input matInput [matDatepicker]="extraction_end" formControlName="extraction_end">
        <mat-datepicker-toggle matIconSuffix [for]="extraction_end"></mat-datepicker-toggle>
        <mat-datepicker #extraction_end></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <label for="release_date">Release Date</label>
        <input matInput [matDatepicker]="release_date" formControlName="release_date">
        <mat-datepicker-toggle matIconSuffix [for]="release_date"></mat-datepicker-toggle>
        <mat-datepicker #release_date></mat-datepicker>
      </mat-form-field>
    }

    <mat-form-field id="material-select">
      <mat-label>Materials</mat-label>
      <mat-select formControlName="raw_material_id" name="maw_material_id">
        <mat-option id="material-form-control">Add Material</mat-option>
        @for (material of materials; track $index) {
          <mat-option id="material-select" [value]="material.id"> {{material.material_name}} </mat-option>
        }
      </mat-select>
    </mat-form-field>



<!--
    <label for="raw_material_id">Raw Material</label>
      <select type="date" name="raw_material_id" id="raw_material_id" formControlName="raw_material_id">
        @for (material of materials; track $index) {
          <option value="{{ material.id }}">{{ material.material_name }}</option>
        }
      </select> -->



      <mat-form-field>
        <label for="weight">Weight</label>
        <input matInput type="number" name="weight" id="weight" formControlName="weight">
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</form>
