html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

mat-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding-bottom: 1rem;
}

.footer {
  flex-shrink: 0;
  
}

button{
  background-color: #feefdd;
}




