mat-drawer {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

#nav-btn {
  display: block;
  width: 85%;
  margin: auto;
}
