.foot{
  cursor: pointer;
  width: 100%;
}

.tool{
  background-color: rgba(128, 128, 128, 0.13);
  bottom: 0;
  position: sticky;

}

.list-main{
  display: flex;
  justify-content: center;
  gap: 2%;
}

.contact{
  text-align: center;
}


