.header-img{
  width: 100%;
  height: 35rem;
  /* height: 70%; */
  filter: blur(2px) brightness(0.8);
}


.img-text{
  position: absolute;
  z-index: 1;
  color: white;
  top: 15%;
  left:15%;
  right: 5%;
  /* text-align: center; */
  font-style: italic;

}


.info{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;

}




.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  background-color: rgba(128, 128, 128, 0.13);
}

/* .main-con{
  min-height: 100vh;
} */


.example-card:hover{
  transform: scale(1.1);
}


/* @media (max-width: 767px) {

  .img-text {


  }

} */



@media (max-width: 767px) {

  .info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  }

}
