.header-img{
  width: 100%;
  height: 35rem;
  /* height: 70%; */
  filter: blur(3px) brightness(0.7);
}


.img-text{
  position: absolute;
  z-index: 1;
  color: white;
  top: 15%;
  left:15%;
  text-align: center;
  font-style: italic;

}
